footer {
  color: rgb(255, 196, 0);
  width: 100%;
  padding: 10px;
  border-top: 1px solid rgba(255, 196, 0, 0.281);
}

.gridPadreFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1080px; // Limita el ancho máximo del contenedor del footer
  padding: 20px;
  margin: 0 auto;
}

.footerContentFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; // Asegura que el contenido ocupe todo el ancho del contenedor
  text-align: center; // Centra el texto para pantallas pequeñas
}

.ElementsFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; // Permite que los elementos se envuelvan en pantallas pequeñas
  width: 100%;
}

.columnaFooter {
  flex: 1; // Cada columna ocupa el mismo ancho
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; // Espacio entre columnas para pantallas pequeñas

  @media (max-width: 768px) {
    margin-bottom: 5px;
  }
}

.imagenPublicidadFooter2 {
  transition: transform 0.3s ease;
  border-radius: 50px;
  padding: 0px;
  max-width: 150px;

  @media (max-width: 480px) {
    max-width: 100px; // Ajuste de tamaño para móviles
  }
}

.imagenFooter1 {
  width: 80%;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

// Estilos para los enlaces de redes sociales
.linksFooter {
  display: flex;
  justify-content: center; // Alinea los enlaces horizontalmente
  flex-direction: row; // Organiza los enlaces en fila
  gap: 20px; // Espacio entre los enlaces
  font-size: small;
  color: rgb(255, 251, 0);
  align-items: center;

  .textoMovimientoFooter {
    color: rgb(251, 255, 0);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media (max-width: 480px) {
    font-size: xx-small; // Tamaño de fuente más pequeño para móviles
    gap: 10px; // Espacio reducido entre los enlaces en móviles
  }
}

// Estilos responsivos
@media (max-width: 768px) {
  .ElementsFooter {
    flex-direction: column; // Cambia a columna para pantallas pequeñas
  }

  .linksFooter {
    flex-direction: column; // Pasa a columna en móviles
    gap: 10px; // Ajusta el espacio en móviles
  }
}

@media (max-width: 480px) {
  .footerContentFooter {
    padding: 0px;
  }

  .columnaFooter {
    margin-bottom: 0px; // Ajuste de margen para móviles
  }

  .imagenFooter1 {
    max-width: 80px; // Ajuste de tamaño para móviles
  }
}
