.formateo-listas {
    display: flex;
    padding: 20px;
    background-color: #000000a8;
    border-radius: 8px;

    .sidebar-container {
        width: 250px;
        padding: 20px;
    }

    .listas-content {
        flex-grow: 1;
        padding: 20px;

        h1 {
            font-size: 2rem;
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                font-size: 1rem;
                color: #555;
                margin: 10px 0;
            }
        }
    }
}
