.formateo-gacetilla {
    display: flex;
    padding: 20px;
    background-color: #0000009a;
    border-radius: 8px;

    .sidebar-container {
        width: 250px;
        padding: 20px;
    }

    .gacetilla-content {
        flex-grow: 1;
        padding: 20px;

        h1 {
            font-size: 2rem;
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            font-size: 1rem;
            color: #555;
            line-height: 1.6;
        }
    }
}
